# App
LOGGER_LEVEL_MODE=INFO

# API
API_KEY=secret-api-key
API_PORT=8000

# Postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=payments_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_DEFAULT_USER=root
RABBITMQ_DEFAULT_PASS=root
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_WEB_PORT=15672

# Processing (эмуляция шлюза)
PROCESSING_MIN_DELAY_SECONDS=2
PROCESSING_MAX_DELAY_SECONDS=5
PROCESSING_SUCCESS_RATE=0.9
PROCESSING_MAX_RETRIES=3
PROCESSING_RETRY_BASE_DELAY_SECONDS=2
PROCESSING_WEBHOOK_TIMEOUT_SECONDS=10

# Outbox relay
OUTBOX_POLL_INTERVAL_SECONDS=1
OUTBOX_BATCH_SIZE=50
